<!DOCTYPE html>
<html>
    <head>
        <title>IT Assets Inventory</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    </head>
    <body>
        <h2><i>l33t h@x0r5</i> Asset Inventory</h2>
        
        {{!-- BACK BUTTON --}}
        <a href="/" id="cancel-asset">Back</a>
        
        {{!-- TITLE --}}
        <div class="tab">
            <button class="tablinks">Asset Details</button>
        </div>
        
        {{!-- DISPLAY ASSET INFORMATION --}}
        <div id="AssetDetail" class="tabcontent"><br><br>
            <form>
                <div class="clearfix">
                    <div class="container">
                        <table>
                            {{#each item}}
                            <tr>
                                <span id="asset-id" style="display: none;" value={{this.id}}></span>
                                <td>Category</td>
                                <td>
                                    <select id="category" selected={{this.category}}>
                                        <option value="">Select One</option>
                                        <option value="Computer">Computer</option>
                                        <option value="Router">Router</option>
                                        <option value="Unknwon">Unknown</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Manufacturer</td>
                                <td><input type="text" id="manufacturer" class="asset-details" value={{this.manufacturer}}></td>
                            </tr>
                            <tr>
                                <td>Model</td>
                                <td><input type="text" id="model" class="asset-details" value={{this.model}}></td>
                            </tr>
                            <tr>
                                <td>Serial Number</td>
                                <td><input type="text" id="serial-number" class="asset-details" value={{this.serial}}></td>
                            </tr>
                            <tr>
                                <td>Acquired Date</td>
                                <td><input type="date" id="acquired-date" class="input-date" value={{this.acquired}}></td>
                            </tr>
                            <tr>
                                <td>Purchase Price</td>
                                <td><input type="text" id="purchase-price" class="asset-details" value={{this.price}}></td>
                            </tr>
                            <tr>
                                <td>Condition</td>
                                <td>
                                    <select id="condition" selected={{this.cond}}>
                                        <option value="">Select One</option>
                                        <option value="New">(1) New</option>
                                        <option value="New-Open">(2) New - Open Box</option>
                                        <option value="Manufactured-Refurbished">(3) Manufactured Refurbished</option>
                                        <option value="Used">(4) Used</option>
                                        <option value="For-Parts-Not-Working">(5) For Parts or Not Working</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Warrenty Expiration Date</td>
                                <td><input type="date" id="warrenty-expiration" class="input-date" value={{this.warrenty}}></td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>
                                    <select id="location" selected={{this.location}}>
                                        <option value="">Select One</option>
                                        <option value="Main-Office">Main Office</option>
                                        <option value="Home-Office">Home Office</option>
                                        <option value="Satelite-Office">Satelite Office</option>
                                        <option value="Not-Located">Not Located Yet</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><input type="text" id="description-box" class="asset-details" value={{this.description}}></td>
                            </tr>
                            <tr>
                                <td>Comments</td>
                                <td><input type="text" id="comment-box" class="asset-details" value={{this.comments}}></td>
                            </tr>
                            <tr>
                                <td>Retire?</td>
                                <td>
                                    <input type="checkbox" id="retire-box" class="checkbox">Yes
                                    <input type="checkbox" id="unretire-box" class="checkbox">No
                                </td>
                                <td>Retired: {{this.retired}}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div><br>
                
                {{!-- UPDATE BUTTON --}}
                <div class="buttons">
                    <button type="submit" class="deco-button" id="update-button">Update</button>
                </div>
            </form>
            <span id="message"></span>
        </div>
        
        {{!-- FOOTER --}}
        <br><br><hr><br>
        <footer>
                CST412: Net Admin<br>
                &copy; 2019. l33t h@x0r5<br>
                Disclaimer: The information in this page might be inaccurate.<br>
                It is used for academic purposes only.<br><br>
        </footer>
        
        <script SRC="/js/functions.js"></script>
        <script>
            function openTab(evt, tab) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tab).style.display = "block";
            }
    
            $(document).ready(function() {
                openTab(event, 'AssetDetail');
            });
            
            $('#update-button').on("click", function(e) {
                e.preventDefault(); // Do not submit until I am ready
                let checked; 
                
                if($("#retire-box").is(":checked")) {
                    checked = "yes"; 
                } else if($("#unretire-box").is(":checked")) {
                    checked = "no"; 
                }
                
                if($('#category').val() == "" || $('#manufacturer').val() == "" || $('#model').val() == "" ||
                $('#serial-number').val() == "" || $('#acquired-date').val() == "" || $('#purchase-price').val() == "" ||
                $('#condition').val() == "" || $('#warrenty-expiration').val() == "" || $('#location').val() == "") {
                    $("#message").html("Error, missing selection above").css("color", "red"); 
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/show-asset",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "assetID": $("#asset-id").val(), 
                            "category" : $('#category').val(), 
                            "manufacturer" : $('#manufacturer').val(), 
                            "model" : $('#model').val(), 
                            "serial" : $('#serial-number').val(), 
                            "acquired" : $('#acquired-date').val(), 
                            "paid" : $('#purchase-price').val(), 
                            "condition" : $('#condition').val(), 
                            "warrenty" : $('#warrenty-expiration').val(), 
                            "located" : $('#location').val(), 
                            "descrip" : $('#description-box').val(), 
                            "comment" : $('#comment-box').val(),
                            "retire" : checked
                        }),
                        success: function(result, status) {
                            if (result.successful) {
                                window.location.href = '/'; // This will navigate to wherever i say...
                            }
                            else {
                                // Show an error message or something and stay here
                                $('#message').html(result.message).css("color", "red");
                                $('#message').show();
                            }
                        }, 
                        error: function(xhr, status, message) {
                            console.log("error: ", xhr.responseText); 
                        }
                    });
                }
            }); 
        </script>
    </body>
</html> 